*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: rgb(18, 18, 26);
    color: rgb(231, 227, 227);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.product .productCard{
    z-index: 1;
    background-color: rgb(29, 29, 36);
    width: 300px;
    height: 400px;
    position: relative;
    margin: 40px;
    border-radius: 10px;
}
.product .productCard .productImg{
    z-index: 1;
    max-width: 310px;
    position: absolute;
    transform: translate3d(-3%, 10%, 0);
    
}
.product .productCard .name{
    font-size: 25px;
    width: 100%;
    position: absolute;
    top: 5%;
    text-align: center;
}
.product .productCard .price{
    position: absolute;
    font-size: 20px;
    bottom: 80px;
    width: 100%;
    font-size: 23px;
    text-align: center;
}
.product .productCard .popupBtn{
    position: absolute;
    transform: translateX(-20%);
    background-color: rgba(77, 77, 77, 0.788);
    padding: 10px 15px;
    top: 83%;
    left: 35%;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
    border-radius: 20px;
}
.product .productCard .popupBtn:hover{
    background-color: rgba(57, 56, 61, 0.719);
    cursor: pointer;
}
.product .popupView{
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}
.product .popupView.on{
    visibility: visible;
}
.product .popupView .popupCard{
    width: 500px;
    height: 400px;    
}
.product .popupView .popupCard .popupImg{
    z-index: 2;
    position: absolute;
    transform: translate3d(-55%, 0%, 0);
    width: 450px;
    height: 400px;
    background: #1D212B;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.product .popupView .popupCard .popupImg img{
    position: relative;
    transform: translate3d(-12%, -5%, 0);
    max-width: 500px;
    user-select: none;
}
.product .popupView .popupCard .popupInfo{
    z-index: 2;
    position: relative;
    color: rgb(19, 19, 19);
    right: 0;
    transform: translate3d(40%, -10%, 0);
    background-color: #FFF;
    width: 500px;
    height: 500px;
    flex-direction: column;
    border-radius: 10px;
    
}
.product .popupView .popupCard .popupInfo .name{
    padding: 40px 40px;
    font-size: 30px;
    font-weight: 800;
}
.product .popupView .popupCard .popupInfo p{
    position: absolute;
    top: 25%;
    margin: 40px;
}
.product .popupView .popupCard .popupInfo .addBtn{
    position: absolute;
    bottom: 30%;
    color: #009DD2;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    transform: translateX(105%);
    cursor: pointer;
}
.product .popupView .popupCard .popupInfo .buyBtn{
    position: absolute;
    transform: translateX(112%);
    color: white;
    font-size: 20px;
    padding: 10px 10px;
    bottom: 15%;
    text-align: center;
    background-color:#009DD2;
    border-radius: 25px;
    cursor: pointer;
}
.product .popupView .popupCard .close-btn{
    z-index: 3;
    position: absolute;
    color: rgba(32, 32, 32, 0.712);
    font-size: 20px;
    right: 19%;
    top: 16%;
    cursor: pointer;
}